%h1 Klubovi

- if current_user&.admin
  = link_to 'Dodaj klub', new_club_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'
  %br
  %br

%table.clubs_table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Ime
      %th Broj clanova
      - if user_signed_in? && current_user.admin
        %th
        %th

  %tbody
    - Club.categories.each do |category|
      %tr.has-background-accent
        %td.is-capitalized{ colspan: current_user&.admin? ? 5 : 2 }
          %b= category[0]
          = "(#{@clubs.select{ |c| c.category == category[0] }.count})"
        %td
          %button.toggle-category{ onclick: 'toggleClubs(this)', data: { category: category[0], show: 'false' } }
            Pokazi
      - @clubs.select{ |c| c.category == category[0] }.each do |club|
        %tr{ class: "tr-#{category[0]}", style: 'display: none' }
          %td= link_to club.name, club
          %td= club.racers.count
          - if user_signed_in? && current_user.admin
            %td= link_to 'Izmijeni', edit_club_path(club), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored', style: 'color: white;'
            %td
              = form_for club, method: :delete do |f|
                = f.submit 'Izbrisi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent', style: 'color: white;'

:javascript
  function toggleClubs(button) {
    var category = button.dataset.category;
    var show = button.dataset.show === 'true';
    var rows = document.querySelectorAll('.tr-' + category);
    var display = window.innerWidth > 840 ? 'table-row' : 'block';

    for(var i = 0; i < rows.length; i++) {
      rows[i].style.display = show ? 'none' : display;
    }

    button.dataset.show = show ? 'false' : 'true';
    button.innerHTML = show ? 'Pokazi' : 'Sakrij';
  }
