%h1
  = @club.name
%h4.is-capitalized
  = @club.category

%h4 Natjecatelji

.mdl-grid.is-heading
  .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone Ime
  .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone Godina rodenja
  - if user_signed_in? && current_user.admin
    .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone Email
    .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone Broj mobitela

- @club.racers.order(first_name: :asc).each_with_index do |racer, index|
  .mdl-grid{ class: "#{index.odd? ? 'even' : ''}" }
    .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone
      = link_to racer do
        %span.va-tb
          = racer&.full_name
        - if racer.club_admin
          %i.material-icons person
    .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone= racer.year_of_birth
    - if user_signed_in? && current_user.admin
      .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone= racer.email
      .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone
        %a{href: "tel:#{racer.phone_number}"}
          = racer.phone_number

%br
%br

= link_to 'Natrag', clubs_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'

- if user_signed_in? && current_user.admin
  = link_to 'Izmijeni klub', edit_club_path(@club), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

