%p#notice= notice

%p
  %b Name
  = @pool.name

%br
= link_to 'New Start number', new_start_number_path
%br
= link_to 'Edit', edit_pool_path(@pool)
%br
= link_to 'Back', pools_path
%br
%br

= form_tag import_start_numbers_path, multipart: true do
  = file_field_tag :file
  = hidden_field_tag :pool_id, @pool.id
  = submit_tag 'Import'


%h1 Start Numbers

%table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Value
      %th Tag
      %th Alternate Tag
      %th
      %th
      %th

  %tbody
    - @pool.start_numbers.sort_by{|sn| [sn.value.to_i]}.each do |start_number|
      %tr
        %td= start_number.value
        %td= start_number.tag_id
        %td= start_number.alternate_tag_id
        %td= link_to 'Show', start_number
        %td= link_to 'Edit', edit_start_number_path(start_number)
        %td
          = form_for start_number, method: 'DELETE' do |f|
            .actions
              = f.submit 'Izbrisi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

