%h2
  FAQ
%p#faq1
  %a.cu-p
    Kako se prijaviti na utrku?
  %i.material-icons.down.is-pulled-right.cu-p#expand-more expand_more
  %i.material-icons.up.is-pulled-right.cu-p#expand-less{style: "display: none;"} expand_less


#info{style: "display: none;"}
  %p
    Za prijave na utrke potrebna je
    = link_to 'registracija', new_racer_path
    na stranici.

  %p
    Da biste izvršili prijavu za utrku potrebno je:

  %ul
    %li biti prijavljen na stranicu,
    %li
      u izborniku
      = link_to 'utrke', races_path
      odabrati utrku na koju se želite prijaviti,
    %li u prijavama utrke odaberite kategoriju, te potvrdite na "Prijavi se".

  %p
    Ukoliko ste se odjavili sa stranice, za ponovnu prijavu koristite e-mail
    adresu i broj mobitela u formatu koji ste unijeli prilikom registracije.

  %p
    Za sve probleme, molimo kontaktirajte nas na
    %a{ href: 'mailto:stoperica.timing@gmail.com' }
      e-mail.

  %p
    Za prikaz na mobilnim uređajima koristite
    %a{ href: 'https://www.google.com/chrome/browser/mobile/' }
      Google Chrome web preglednik.

%hr

%h1
  O nama

%p
  Timing platforma Stoperica.live temelji se na jedinstvenoj pohrani rezultata natjecatelja u bazu i njihovoj obradi.
  %br
  Prema zahtjevu organizatora možemo kreirati automatski sustav bodovanja natjecatelja, klubova ili cjelokupne lige.

%p
  Cjelokupan sustav razvijan je samostalno, uz korištenje tehnologije visokih performansi.
  %br
  Posjedujemo raznovrsnu mjernu opremu, od kojih je dio samostalno osmišljen i izgrađen, te predstavlja inovativna rješenja na tržištu.

%h2
  Reference

%h3
  Biciklizam

%p
  = image_tag 'info/finish-line-2.png', style: 'width: 100%;'
  = link_to 'Nacionalno prvenstvo - kronometar', race_path(122), class: 'mr-1'
  = link_to 'XCM kup Hrvatske', race_path(113), class: 'mr-1'
  = link_to 'XCO Šušnjevača', race_path(112), class: 'mr-1'
  = link_to 'XCZLD 2018/19', league_path('xczld-2018-19')

%h3
  Trail & trekking
%p  
  = image_tag 'info/trail.png', style: 'width: 100%;'
  = link_to 'Masters of trail', race_path(113), class: 'mr-1'
  = link_to 'STrka Trail Liga 2019', league_path('strka-trail-liga-2019')

%h3
  Trčanje

%p
  = image_tag 'info/finish-line.png', style: 'width: 100%;'
  = link_to 'Polumaraton Nin - Zadar', race_path(113), class: 'mr-1'
  = link_to 'Polumaraton Nin-Zadar bodovanje klubova', league_path('polumaraton-nin-zadar')

%h3
  Sportsko penjanje

%p
  = image_tag 'info/finish-line.png', style: 'width: 100%;'
  = link_to 'Prvenstvo Hrvatske 2018 - SP Težinsko', race_path(94)

%p
  %b
    Štoperica, obrt za usluge
    %br
    Stankovci 267, 23422 Stankovci

%p
  %i.material-icons mail
  %span.va-tb
    = link_to 'stoperica.timing@gmail.com', 'mailto:stoperica.timing@gmail.com'
  %br
  %i.material-icons local_phone
  %span.va-tb
    0919872304
  %i.material-icons local_phone
  %span.va-tb
    0989085311

%p
  OIB: 39751832773
  %br
  Matični broj obrta: 97958085
  %br
  Bankovni račun: HR6023600001102757273
  %br
  Poslovna banka: Zagrebačka banka d.d.

%a{href: '/terms'}
  Izjava o zaštiti podataka
