- if current_user&.admin?
  = link_to 'Dodaj natjecanje', new_league_path

- @leagues.each do |league|
  %h3.league_heading= league.name
  - if current_user&.admin?
    = link_to 'Izmijeni', edit_league_path(league)
  %hr

  .mdl-grid.is-heading
    .mdl-cell.mdl-cell--6-col.mdl-cell--2-col-phone Utrka
    .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Datum
    .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Prijave do
    .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Prijave/Rezultati

  - league.races.order(date: :desc).each do |race|
    .mdl-grid
      .mdl-cell.mdl-cell--6-col.mdl-cell--2-col-phone= race.name
      .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone
        = l race.date, format: :short
      .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone
        = l race.registration_threshold, format: :short
      .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone
        = link_to race.ended_at.present? ? 'REZULTATI' : 'PRIJAVE', race


