%h1
  = @league.name
- if current_user&.admin?
  = link_to 'Izmijeni', edit_league_path(@league)

.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
  .mdl-tabs__tab-bar
    - if @racer_count >=1
      %a.mdl-tabs__tab.is-active{href: "#natjecatelji-panel", class: "#{ @league.trail? ? 'is-active' : '' }"} Natjecatelji
      %a.mdl-tabs__tab{href: "#utrke-panel"} Utrke
    -elsif @racer_count == 0 && @race_count ==1
      %a.mdl-tabs__tab.is-active{href: "#utrke-panel"} Utrke

  -if @racer_count >= 1
    #natjecatelji-panel.mdl-tabs__panel.is-active
      .mdl-grid.is-heading
        .mdl-cell.mdl-cell--10-col.mdl-cell--4-col-phone Racers
        .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Total Time
      .mdl-grid
        - @ranks.each_with_index do |rank, i|
          - @racer = Racer.find rank[0]
         
          .mdl-cell.mdl-cell--10-col.mdl-cell--2-col-phone
            %li.mdl-list__item.mdl-list__item--two-line
              %span.mdl-list__item-primary-content
                .mdl-list__item-icon
                  = i + 1
                .emoji= @racer.country_flag
                = link_to @racer.uci_name, racer_path(@racer)
                %span.mdl-list__item-sub-title= @racer.club&.name
                 
          .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone
            %li.mdl-list__item.mdl-list__item--two-line
              %b.mdl-list__item-secondary-info               
                = League.seconds_to_str(rank[1][0] - @base_time) 

    -if @race_count >=1
      #utrke-panel.mdl-tabs__panel
        .mdl-grid.is-heading
          .mdl-cell.mdl-cell--6-col.mdl-cell--2-col-phone Utrka
          .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Datum
          .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Prijave/Rezultati

        - @league.races.order(date: :desc).each do |race| 
          .mdl-grid
            .mdl-cell.mdl-cell--6-col.mdl-cell--2-col-phone= race.name
            .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone
              = l race.date, format: :short
            .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone
              = link_to race.ended_at.present? ? 'REZULTATI' : 'PRIJAVE', race
        
  -elsif @racer_count == 0 && @race_count >= 1
    #utrke-panel.mdl-tabs__panel.is-active
      .mdl-grid.is-heading
        .mdl-cell.mdl-cell--6-col.mdl-cell--2-col-phone Utrka
        .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Datum
        .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Prijave/Rezultati

      - @league.races.order(date: :desc).each do |race| 
        .mdl-grid
          .mdl-cell.mdl-cell--6-col.mdl-cell--2-col-phone= race.name
          .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone
            = l race.date, format: :short
          .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone
            = link_to race.ended_at.present? ? 'REZULTATI' : 'PRIJAVE', race

:javascript
  function collapse(selector, e) {
    var el = document.querySelector(selector);
    el.classList.toggle('collapsed');
    e.target.classList.toggle('collapsed');
  }
