%h1
  = @league.name
- if current_user&.admin?
  = link_to 'Izmijeni', edit_league_path(@league)

.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
  .mdl-tabs__tab-bar
    - unless @league.trail? || @league.stage_competitors_only?
      %a.mdl-tabs__tab.is-active{href: "#klubovi-panel"} Klubovi
    - if @league.xczld? || @league.trail? || @league.stage_competitors_only?
      %a.mdl-tabs__tab{href: "#natjecatelji-panel", class: @league.trail? || @league.stage_competitors_only? ? 'is-active' : ''} Natjecatelji
    - if @races_count > 0
      %a.mdl-tabs__tab{href: "#utrke-panel" } Utrke

  - unless @league.trail? || @league.stage_competitors_only?
    #klubovi-panel.mdl-tabs__panel.is-active
      .mdl-grid.is-heading
        .mdl-cell.mdl-cell--8-col.mdl-cell--2-col-phone Klub
        .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone Bodovi

      - @league.club_league_points.where.not(total: 0).order(total: :desc).each do |cp|
        .mdl-grid
          .mdl-cell.mdl-cell--8-col.mdl-cell--2-col-phone
            = link_to cp.club.name, club_path(cp.club)
          %b.mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone= cp.total

  #natjecatelji-panel.mdl-tabs__panel{class: @league.trail? || @league.stage_competitors_only? ? 'is-active' : ''}
    - if @league.xczld? || @league.trail?
      - @categories.each_with_index do |cat, index|
        - if @league.racers[cat[0]]
          %h4.collapse-trigger{ class: "cat-#{index}", onclick: "collapse('#collapse-#{index}', event)" }
            = cat[0].upcase
            %i.material-icons.down.is-pulled-right expand_more
            %i.material-icons.up.is-pulled-right expand_less
          %ol.mdl-list.collapse{ id: "collapse-#{index}" }
            - @league.racers[cat[0]]&.sort_by{|k, v| v.sum{|r| -(r.points || 0)}}&.each_with_index do |(_, results), index|
              %li.mdl-list__item.mdl-list__item--two-line
                %span.mdl-list__item-primary-content
                  .mdl-list__item-icon= index + 1
                  .emoji= results[0].racer.country_flag
                  = link_to results[0].racer.uci_name, racer_path(results[0].racer)
                  %span.mdl-list__item-sub-title= results[0].racer.club&.name
                %b.mdl-list__item-secondary-info
                  - point = results.sum{ |r| r.points || 0 }
                  = (point % 1 == 0) ? point.to_i : point.to_f.round(1)

    - if @league.stage_competitors_only?
      - @categories.each_with_index do |cat, index|
        %h4.collapse-trigger{ class: "cat-#{index}", onclick: "collapse('#collapse-#{index}', event)" }
          = cat[0].upcase
          %i.material-icons.down.is-pulled-right expand_more
          %i.material-icons.up.is-pulled-right expand_less
        %ol.mdl-list.collapse{ id: "collapse-#{index}" }
          - @ranks.fetch(cat[0], []).each_with_index do |rank, i|
            - @racer = Racer.find rank[0]
            %li.mdl-list__item.mdl-list__item--two-line
              %span.mdl-list__item-primary-content
                .mdl-list__item-icon= i + 1
                .emoji= @racer.country_flag
                = link_to @racer.uci_name, racer_path(@racer)
                %span.mdl-list__item-sub-title= @racer.club&.name
              %b.mdl-list__item-secondary-info
                = League.seconds_to_str(rank[1][0] - @base_time)

  - if @races_count > 0
    #utrke-panel.mdl-tabs__panel
      .mdl-grid.is-heading
        .mdl-cell.mdl-cell--6-col.mdl-cell--2-col-phone Utrka
        .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Datum
        .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Prijave/Rezultati
      - @league.races.order(date: :desc).each do |race|
        .mdl-grid
          .mdl-cell.mdl-cell--6-col.mdl-cell--2-col-phone= race.name
          .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone
            = l race.date, format: :short
          .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone
            = link_to race.ended_at.present? ? 'REZULTATI' : 'PRIJAVE', race

:javascript
  function collapse(selector, e) {
    var el = document.querySelector(selector);
    el.classList.toggle('collapsed');
    e.target.classList.toggle('collapsed');
  }