!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Poštovani #{@racer.first_name},
    %p
      upravo ste se registrirali na Stoperica.live stranicu!
    %p
      Vaši podaci za prijavu su:
      %br
      Korisničko ime: #{@racer.email}
      %br
      Zaporka: #{@racer.phone_number}

    %p
      Za prijavu na utrku molimo odaberite utrku u izborniku utrke.
      U prijavama utrke odaberite kategoriju, te potvrdite na "Prijavi se".
      Nakon uspješne prijave Vaše ime će se pojaviti na listi prijava.
    %br
    %hr
    %br

    %h1
      Dear #{@racer.first_name},
    %p
      you just registered on the Stoperica.live timing site!
    %p
      Your login details are:
      %br
      Username: #{@racer.email}
      %br
      Password: #{@racer.phone_number}
    %p
      To make a race registration you need select the race from the race menu.
      Choose a category on race details page and confirm your application on the
      "Prijavi se" button. After successful race registration your name will
      appear on application list
  %br
  %hr
  %br

  %div
    = image_tag 'logo.png'
