= form_for @race do |f|
  - if @race.errors.any?
    #error_explanation
      %h2= "#{pluralize(@race.errors.count, "error")} prohibited this race from being saved:"
      %ul
        - @race.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label 'Name'
    = f.text_field :name
  .field
    = f.label 'Datum utrke'
    = f.datetime_select :date
  .field
    = f.label 'Datum prijava'
    = f.datetime_select :registration_threshold
  .field
    = f.label 'Broj krugova'
    = f.number_field :laps
  .field
    = f.label 'URL raspisa'
    = f.text_field :description_url
  .field
    = f.label 'Onemoguci odjavu'
    = f.check_box :lock_race_results
  .field
    %label UCI prikaz
    = f.check_box :uci_display
  .field
    = f.label 'Posalji mail'
    = f.check_box :send_email
  .field.hidden
    = f.label :email_body
    = f.text_field :email_body
  .field
    #quill= raw @race.email_body
  .actions
    = f.submit 'Spremi'

  :javascript
    var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
      ['blockquote', 'code-block'],

      [{ 'header': 1 }, { 'header': 2 }],               // custom button values
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
      [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
      [{ 'direction': 'rtl' }],                         // text direction

      [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
      [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

      [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
      [{ 'font': [] }],
      [{ 'align': [] }],

      ['clean']                                         // remove formatting button
    ];

    var quill = new Quill('#quill', {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow'
    });

    var form = document.querySelector('.edit_race');
    form.onsubmit = function() {
      var postContentInput = document.querySelector('#race_email_body');
      postContentInput.value = quill.root.innerHTML;
    };
