= form_for @race do |f|
  - if @race.errors.any?
    #error_explanation
      %h2= "#{pluralize(@race.errors.count, "error")} prohibited this race from being saved:"
      %ul
        - @race.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label 'Name'
    = f.text_field :name
  .field
    = f.label 'Kategorija'
    = f.select :race_type, options_for_select(Race.race_types.collect { |s| [s[0].humanize, s[0]] }, selected: @race.race_type), {}
  .field
    = f.label :pool
    = f.select(:pool_id, options_for_select(Pool.all.collect {|r| [ r.name, r.id ] }, @race.pool_id))
  .field
    = f.label :league
    = f.select(:league_id, options_for_select(League.all.collect {|r| [ r.name, r.id ] }, @race.league_id), { include_blank: true })
  .field
    = f.label 'Datum utrke'
    = f.datetime_select :date
  .field
    = f.label 'Datum prijava'
    = f.datetime_select :registration_threshold
  .field
    = f.label 'Vrijeme starta'
    = f.datetime_select :started_at, include_seconds: true, include_blank: true

  .field
    = f.label :picture_url
    = f.text_field :picture_url
  .field
    = f.label :location_url
    = f.text_field :location_url
  .field.hidden
    = f.text_field :description_text
  .field
    = f.label "Opis"
    #quill-for-description
      = raw @race.description_text
  .field
    = f.label :description_url, 'URL raspisa'
    = f.text_field :description_url
  .field
    = f.label :lock_race_results, 'Onemoguci odjavu'
    = f.check_box :lock_race_results
  .field
    %label UCI prikaz
    = f.check_box :uci_display
  .field
    %label Skrivena
    = f.check_box :hidden
  .field
    %label Prikaz milisekundi
    = f.check_box :millis_display
  .field
    %label Skip Auth for Devices
    = f.check_box :skip_auth
  .field
    %label Kontrolne tocke
    %br
    = f.text_area :control_points_raw, value: @race.control_points.to_json
  .field
    = f.label 'Posalji mail'
    = f.check_box :send_email
  .field.hidden
    = f.label :email_body
    = f.text_field :email_body
  .field
    #quill-for-email-body= raw @race.email_body
  .actions
    = f.submit 'Spremi'

  :javascript
    var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
      ['blockquote', 'code-block'],

      [{ 'header': 1 }, { 'header': 2 }],               // custom button values
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
      [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
      [{ 'direction': 'rtl' }],                         // text direction

      [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
      [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

      [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
      [{ 'font': [] }],
      ['link'],
      [{ 'align': [] }],

      ['clean']                                         // remove formatting button
    ];

    var quillEmailBody = new Quill('#quill-for-email-body', {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow',
      bounds: document.body
    });

    var quillDescription = new Quill('#quill-for-description', {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow',
      bounds: document.body
    });

    var form = document.querySelector('.edit_race');
    form.onsubmit = function() {
      var emailBodyField = document.querySelector('#race_email_body');
      emailBodyField.value = quillEmailBody.root.innerHTML;

      var descriptionField = document.querySelector('#race_description_text');
      descriptionField.value = quillDescription.root.innerHTML;
    };
