%span.mdl-chip.mdl-chip--contact
  %span.mdl-chip__contact.mdl-color--blue.mdl-color-text--white= @race.race_results.size
  %span.mdl-chip__text Ukupno

- if @race.ended_at
  - unless @race.race_results.where(status: 3).size.zero?
    %span.mdl-chip.mdl-chip--contact
      %span.mdl-chip__contact.mdl-color--blue.mdl-color-text--white= @race.race_results.where(status: 3).size
      %span.mdl-chip__text Završilo

  - unless @race.race_results.where(status: 4).size.zero?
    %span.mdl-chip.mdl-chip--contact
      %span.mdl-chip__contact.mdl-color--blue.mdl-color-text--white= @race.race_results.where(status: 4).size
      %span.mdl-chip__text DNF

  - unless @race.race_results.where(status: 5).size.zero?
    %span.mdl-chip.mdl-chip--contact
      %span.mdl-chip__contact.mdl-color--blue.mdl-color-text--white= @race.race_results.where(status: 5).size
      %span.mdl-chip__text DSQ


  - unless @race.race_results.where(status: 6).size.zero?
    %span.mdl-chip.mdl-chip--contact
      %span.mdl-chip__contact.mdl-color--blue.mdl-color-text--white= @race.race_results.where(status: 6).size
      %span.mdl-chip__text DNS

  - unless @race.race_results.where(start_number_id: nil).size.zero?
    %span.mdl-chip.mdl-chip--contact
      %span.mdl-chip__contact.mdl-color--blue.mdl-color-text--white= @race.race_results.where(start_number_id: nil).size
      %span.mdl-chip__text{ title: 'Natjecatelji koji se nisu pojavili na utrci.' } DNP
