#raceResults
  .mdl-grid.is-heading
    - if @is_admin || @is_race_admin
      .mdl-cell--2-offset
    .mdl-cell.mdl-cell--1-col Mjesto
    - if @race.league&.xczld? || @race.league&.running? || @race.league&.trail?
      .mdl-cell.mdl-cell--1-col Bodovi
    .mdl-cell.mdl-cell--1-col Startni broj
    - if @race.uci_display?
      .mdl-cell.mdl-cell--2-col
        UCI ID
    .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Ime i Prezime
    .mdl-cell.mdl-cell--2-col.mdl-cell--2-col-phone Klub
    - unless @race.laps.nil?
      - (1..@race.laps).each do |lap|
        .mdl-cell.mdl-cell--1-col= "KT #{lap}"
    .mdl-cell.mdl-cell--1-col Vrijeme
    .mdl-cell.mdl-cell--1-col Zaostatak

  - if params[:absolute]
    - @race.sort_results_by_distance.each_with_index do |(length, race_results), index|
      .mdl-grid{ class: "cat-#{index}", onclick: "collapse('#collapse-track-#{length}', event)" }
        .mdl-cell.mdl-cell--12-col.collapse-trigger
          %i.material-icons.down.is-pulled-right expand_more
          %i.material-icons.up.is-pulled-right expand_less

          - if length
            %span.is-pulled-right
              %i.material-icons navigation
              = (length.to_f/1000).round 1
              km &nbsp;

      .collapse{ id: "collapse-track-#{length}" }
        - race_results.each_with_index do |race_result, i|
          = render 'result', race_result: race_result, index: i

  - else
    - @race.categories.order(id: :asc).each_with_index do |category, index|
      .mdl-grid{ class: "cat-#{index}", onclick: "collapse('#collapse-#{category.id}', event)" }
        .mdl-cell.mdl-cell--12-col.collapse-trigger
          = category.name.upcase
          %b= "(#{@race.sorted_results[category].size})"

          %i.material-icons.down.is-pulled-right expand_more
          %i.material-icons.up.is-pulled-right expand_less

          - if category.track_elevation
            %span.is-pulled-right
              %i.material-icons landscape
              = category.track_elevation
              m

          - if category.track_length
            %span.is-pulled-right
              %i.material-icons navigation
              = (category.track_length.to_f/1000).round 1
              km &nbsp;

      .collapse{ id: "collapse-#{category.id}" }
        - @race.sorted_results[category].each_with_index do |race_result, index|
          = render 'result', race_result: race_result, index: index


:javascript
  function collapse(selector, e) {
    var el = document.querySelector(selector);
    el.classList.toggle('collapsed');
    e.target.classList.toggle('collapsed');
  }
