%h1.text-hidden.cu-p
  = @race.name
  %p  
    - if @is_admin || @is_race_admin
      %i.material-icons.down.is-pulled-right.cu-p.expand-more expand_more
      %i.material-icons.up.is-pulled-right.cu-p.expand-less{style: "display: none;"} expand_less

- if @is_admin || @is_race_admin

  #info{style: "display: none;"}

    %h4
      Vrijeme utrke:
      %b
        = l @race.date, format: :long

    - if @race.location_url.present?
      %h4
        %a{ href: @race.location_url, target: 'blank', style: "text-decoration: none" }
          %i.material-icons.is-vcentered location_on
          Lokacija utrke

    %h5
      %b
        Token ID:
        = @race.auth_token

    - unless @race.started_at
      %h4
        Prijave otvorene do:
        %b#raceResultLocked{ class: @race.lock_race_results ? 'shame' : '' }
          = l @race.registration_threshold, format: :long
        - if @race.lock_race_results
          .mdl-tooltip.mdl-tooltip--large{for: "raceResultLocked"}
            %b Napomena:
            Odjave su onemogućene za ovu utrku.

    - if @is_admin && @race.pool
      %h4
        Baza brojeva:
        = link_to @race.pool&.name, pool_path(@race.pool)
      %hr
      = form_tag import_racers_path, multipart: true do
        = file_field_tag :file
        = hidden_field_tag :race_id, @race.id
        = submit_tag 'Import'
      %hr

    .race-actions
      = link_to races_path do
        .mdl-button.mdl-button--raised.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
          Natrag

      - if @is_admin || @is_race_admin
        = link_to assign_positions_race_path(@race) do
          .mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect
            Azuriraj

        = link_to edit_race_path(@race) do
          .mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect
            Izmijeni

    .race-actions
      %span
        Preuzimanje podataka

      = form_with url: export_race_path(@race) do
        = select_tag 'type', options_for_select([['Svi podaci', 'all'], ['Startna lista', 'start_list'], ['Rezultati', 'result'], ['Rezultati_UCI', 'result_with_uci']])
        = select_tag 'format', options_for_select([['Xlsx', 'xlsx'], ['Csv', 'csv']])
        = submit_tag 'Izvoz', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'

    .mb-3
      - if @race.displayable_description.present? && @race.description_url.present?
        #add-info-toggler
          %h4.cu-p.d-i
            Dodatne informacije
          %i.material-icons.down.is-pulled-right.cu-p#expand-more expand_more
          %i.material-icons.up.is-pulled-right.cu-p#expand-less{style: "display: none;"} expand_less
        #additional-information{style: "display: none;"}
          %hr
          = link_to @race.description_text.html_safe, @race.description_url, target: '_blank'
      - elsif @race.description_url.present?
        = link_to @race.description_url, target: '_blank', id: 'additional-information' do
          %h4 Dodatne informacije
      - elsif @race.displayable_description.present?
        #add-info-toggler
          %h4.cu-p.d-i
            Dodatne informacije
          %i.material-icons.down.is-pulled-right.cu-p#expand-more expand_more
          %i.material-icons.up.is-pulled-right.cu-p#expand-less{style: "display: none;"} expand_less
        #additional-information{style: "display: none;"}
          %href
          = @race.description_text.to_s.html_safe

    = render 'application'
  %hr
  = render 'admin_race_result_form'
- else
  %h4
    Vrijeme utrke:
    %b
      = l @race.date, format: :long
  - if @race.location_url.present?
    %h4
      %a{ href: @race.location_url, target: 'blank', style: "text-decoration: none" }
        %i.material-icons.is-vcentered location_on
        Lokacija utrke
    
  - unless @race.started_at
    %h4
      Prijave otvorene do:
      %b#raceResultLocked{ class: @race.lock_race_results ? 'shame' : '' }
        = l @race.registration_threshold, format: :long
      - if @race.lock_race_results
        .mdl-tooltip.mdl-tooltip--large{for: "raceResultLocked"}
          %b Napomena:
          Odjave su onemogućene za ovu utrku.

  .race-actions
    = link_to races_path do
      .mdl-button.mdl-button--raised.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
        Natrag
  .mb-3
    - if @race.displayable_description.present? && @race.description_url.present?
      #add-info-toggler
        %h4.cu-p.d-i
          Dodatne informacije
        %i.material-icons.down.is-pulled-right.cu-p#expand-more expand_more
        %i.material-icons.up.is-pulled-right.cu-p#expand-less{style: "display: none;"} expand_less
      #additional-information{style: "display: none;"}
        %hr
        = link_to @race.description_text.html_safe, @race.description_url, target: '_blank'
    - elsif @race.description_url.present?
      = link_to @race.description_url, target: '_blank', id: 'additional-information' do
        %h4 Dodatne informacije
    - elsif @race.displayable_description.present?
      #add-info-toggler
        %h4.cu-p.d-i
          Dodatne informacije
        %i.material-icons.down.is-pulled-right.cu-p#expand-more expand_more
        %i.material-icons.up.is-pulled-right.cu-p#expand-less{style: "display: none;"} expand_less
      #additional-information{style: "display: none;"}
        %href
        = @race.description_text.to_s.html_safe
  - if @current_racer&.club_admin? && DateTime.now < @race.registration_threshold && @club_racers.to_a.size > 0
    = render 'club_admin_form'
  - else
    = render 'application'

%h4
  Natjecatelji
  %br

.mb-1
  - if @race.started_at
    %span.d-ib.mr-3
      %label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect{for: "poredak"}
        %input#poredak.mdl-switch__input{checked: params[:absolute], type: "checkbox"}
        %span.mdl-switch__label Generalni poredak

  %span.d-ib
    %label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect{for: "poredak1"}
      %input#poredak1.mdl-switch__input{checked: params[:flags], type: "checkbox"}
      %span.mdl-switch__label Prikaži države

- if params[:flags] == 'true'
  - @country_count.each do |country,count|
    %span.mdl-chip.mdl-chip--contact
      %span.mdl-chip__contact.mdl-color--blue.mdl-color-text--white
        = count
      %span.mdl-chip__text.emoji
        = Country.new(country).emoji_flag

%p
  = render 'race_results_count'

- if @race.penjanje?
  = render 'climbing_results'
- else
  = render 'results'

:javascript
  var forms = document.querySelectorAll('#adminFormContainer form.edit_race_result');

  for(var i = forms.length - 1; i >= 0; i--) {
    forms[i].addEventListener('submit', submitAsync);
  }

  function submitAsync(e) {
    e.preventDefault();

    var xhr = new XMLHttpRequest();
    var form = this;

    xhr.onreadystatechange = function() {
      if (this.readyState === 4) {
        if (this.status === 200) {
          var res = JSON.parse(xhr.responseText);
          var startNumber = res.start_number ? res.start_number.value : '';
          var raceId = res.start_number ? res.race_id : '';
          form.style.border = '2px solid green';
          alert('Spremljen broj ' + startNumber);
        }
        else {
          form.style.border = '2px solid red';
          alert('GRESKA. Nije spremljeno.');
        }
      }
    };

    xhr.open('POST', this.action, true);
    xhr.setRequestHeader('Accept', 'application/json');
    xhr.send(new FormData(this));

    return false;
  }

:javascript
  document.querySelector('#poredak').addEventListener('click', function(event) {
    var checked = event.target.checked;
    if (checked) {
      window.location.search += '&absolute=true';
    } else {
      window.location.search = window.location.search.replace(/&absolute=true/, "");
    }
  });

:javascript
  document.querySelector('#poredak1').addEventListener('click', function(event) {
    var checked = event.target.checked;
    if (checked) {
      window.location.search += '&flags=true';
    } else {
      window.location.search = window.location.search.replace(/&flags=true/, "");
    }
  });
