%h1
  = @race.name

%h4
  Vrijeme utrke:
  %b
    = l @race.date, format: :short

%h4
  Prijave otvorene do:
  %b#raceResultLocked{ class: @race.lock_race_results ? 'shame' : '' }
    = l @race.registration_threshold, format: :short
  - if @race.lock_race_results
    .mdl-tooltip.mdl-tooltip--large{for: "raceResultLocked"}
      %b Napomena:
      Odjave su onemogućene za ovu utrku.

.race-actions
  = link_to races_path do
    .mdl-button.mdl-button--raised.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
      Natrag

  - if user_signed_in? && current_user.admin
    = link_to race_path(@race, format: "csv") do
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect
        Export CSV

    = link_to assign_positions_race_path(@race) do
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect
        Azuriraj

    = link_to edit_race_path(@race) do
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect
        Izmijeni

  - if DateTime.now < @race.registration_threshold
    - if user_signed_in? && !@racer_has_race_result
      = form_for RaceResult.new do |f|
        = f.hidden_field :racer_id, value: current_user.racer.try(:id)
        = f.hidden_field :race_id, value: @race.id
        = f.hidden_field :status, value: 1
        = f.select :category_id, @race.categories.collect{|c| [c.name, c.id]}, { prompt: 'Odaberi kategoriju' }, required: true
        .actions
          = f.submit 'Prijavi se', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'
    - elsif user_signed_in? && @racer_has_race_result
      - unless @race.lock_race_results
        = form_for @race_result, method: 'DELETE' do |f|
          .actions
            = f.submit 'Odjavi se', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
    - else
      = link_to 'Login za prijavu', login_racers_path(redirect: "/races/#{@race.id}"), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

%a{ href: @race.description_url, target: '_blank' }
  %h4
    Informacije o utrci

- if user_signed_in? && current_user.admin
  = form_for RaceResult.new do |f|
    = f.select :racer_id, options_for_select(Racer.where.not(id: @race.race_results.pluck(:racer_id)).collect{|r| [r.full_name, r.id]}.sort{|a, b| a[0] <=> b[0]}), include_blank: true
    = f.hidden_field :race_id, value: @race.id
    = f.hidden_field :status, value: 1
    = f.select :category_id, @race.categories.collect{|c| [c.name, c.id]}
    = f.submit 'Prijavi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

  %br
  %br

%h4
  Prijavljeni natjecatelji
  = "(#{@race.race_results.count})"

%table#raceResults.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Mjesto
      %th Startni broj
      - if @race.uci_display?
        %th UCI ID
      %th Ime i Prezime
      %th Klub
      %th Status
      - unless @race.laps.nil?
        - (1..@race.laps).each do |lap|
          %td= "KT #{lap}"
      %th Vrijeme
      %th Razlika
      - if user_signed_in? && current_user.admin
        %th
        %th
        %th
  %tbody
    - @race.categories.each_with_index do |category, index|
      %tr{ class: "cat-#{index}" }
        %td{ colspan: 20 }
          = category.name.upcase

      - (@race.race_results.where(category: category).where.not(position: nil).order(:position) + @race.race_results.where(category: category).where(position: nil).order(status: :desc)).each_with_index do |race_result, index|
        %tr
          %td
            - if race_result.status == 3
              = race_result.position

              - if index <= 2
                = render partial: 'trophy', locals: { index: index }

          %td= race_result.start_number&.value
          - if @race.uci_display?
            %td= race_result.racer.uci_id
          %td
            = link_to race_result.racer do
              .emoji= race_result.racer.country_flag
              - if @race.uci_display?
                = race_result.racer.uci_name
              - else
                = race_result.racer.full_name
          %td= race_result.racer.club.try(:name)
          - if @race.ended_at.present? && race_result.status == 1
            .mdl-tooltip.mdl-tooltip--large{for: "raceResult-#{race_result.id}"}
              Na iducem startu placa dodatnih 10 kn.
            %td.shame{id: "raceResult-#{race_result.id}"}
              = race_result.pretty_status
          - else
            %td= race_result.pretty_status
          - unless @race.laps.nil?
            - (1..@race.laps).each do |lap|
              %td= race_result.lap_time lap
          %td= race_result.finish_time
          - if @race.ended_at.blank?
            %td= '--'
          - else
            - if index.zero?
              %td
            -else
              %td.losers
                = race_result.finish_delta

          - if user_signed_in? && current_user.admin && race_result.status && race_result.status < 2
            %td
              = form_for race_result do |f|
                = f.hidden_field :status, value: 2
                .actions
                  = f.submit 'Na startu', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
          - if user_signed_in? && current_user.admin
            %td
              = link_to 'Izmijeni', edit_race_result_path(race_result), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
              = form_for race_result, method: :delete do |f|
                .actions
                  = f.submit 'Odjavi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect', onclick: "return confirm('Ovo ce izbrisati rezultat iz baze podataka. Molim potvrdi.')"
          - if user_signed_in? && current_user.admin
            %td#adminFormContainer
              = form_for race_result do |f|
                = f.text_field :start_number, value: race_result.start_number&.value, placeholder: 'Startni broj', autocomplete: 'off'
                = f.select :category_id, @race.categories.collect{|c| [c.name, c.id]}, value: race_result.category_id
                = f.submit 'Spremi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

:javascript
  var forms = document.querySelectorAll('#adminFormContainer form.edit_race_result');

  for(var i = forms.length - 1; i >= 0; i--) {
    forms[i].addEventListener('submit', submitAsync);
  }

  function submitAsync(e) {
    e.preventDefault();

    var xhr = new XMLHttpRequest();

    xhr.onreadystatechange = function() {
      if (this.readyState === 4) {
        if (this.status === 200) {
          var res = JSON.parse(xhr.responseText);
          alert('Spremljen broj: ' + res.start_number.value + ' race_id: ' + res.start_number.race_id);
        }
        else {
          alert('GRESKA. Nije spremljeno.');
        }
      }
    };

    xhr.open('POST', this.action, true);
    xhr.setRequestHeader('Accept', 'application/json');
    xhr.send(new FormData(this));

    return false;
  }
