= form_for @start_number do |f|
  - if @start_number.errors.any?
    #error_explanation
      %h2= "#{pluralize(@start_number.errors.count, "error")} prohibited this start_number from being saved:"
      %ul
        - @start_number.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :pool
    = f.select(:pool_id, options_for_select(Pool.all.collect {|r| [ r.name, r.id ] }))
  .field
    = f.label :value
    = f.text_field :value
  .field
    = f.label :tag_id
    = f.text_field :tag_id
  .actions
    = f.submit 'Save'
