%h1 Listing start_numbers

%table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Race
      %th Value
      %th Tag
      %th Alternate Tag
      %th
      %th
      %th

  %tbody
    - @start_numbers.each do |start_number|
      %tr
        %td= start_number.race&.name
        %td= start_number.value
        %td= start_number.tag_id
        %td= start_number.alternate_tag_id
        %td= link_to 'Show', start_number
        %td= link_to 'Edit', edit_start_number_path(start_number)
        %td= link_to 'Destroy', start_number, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Start number', new_start_number_path
