%h1
  Natjecatelji
  = "(#{Racer.all.count})"

/ %input#search{ type: 'text', placeholder: 'Pretraži...' }

.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-js-textfield--accent
  %input#search.mdl-textfield__input{ type: 'text' }
  %label.mdl-textfield__label{ for: 'search' } Pretraži...


:javascript
  var choices = #{@racers.collect{|r| [r.full_name, r.id, r.email]}.inspect.html_safe};
  new autoComplete({
    selector: '#search',
    minChars: 2,
    source: function(term, suggest){
      term = term.toLowerCase();
      var matches = [];
      for (i=0; i<choices.length; i++) {
        var matchesName = ~choices[i][0].toLowerCase().indexOf(term);
        var matchesEmail = ~choices[i][2].toLowerCase().indexOf(term);
        if (matchesName || matchesEmail) {
          matches.push(choices[i]);
        }
      }
      suggest(matches);
    },
    renderItem: function (item, search){
      search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
      var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
      return '<div class="autocomplete-suggestion" data-val="' + item[0] + '" data-id="' + item[1] + '">' + item[0].replace(re, "<b>$1</b>") + '</div>';
    },
    onSelect: function (event, term, item) {
      Turbolinks.visit('/racers/' + item.dataset.id);
    }
  });

= paginate @racers
%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Ime i Prezime
      %th Godina rodenja
      %th Klub
      - if current_user&.admin?
        %th UCI ID
      - if user_signed_in? && current_user.admin
        %th Email
        %th Broj mobitela
        %th
        %th

  %tbody
    - @racers.each do |racer|
      %tr
        %td
          .emoji= racer.country_flag
          = link_to racer.full_name, racer
        %td= racer.year_of_birth
        %td= racer.club.try(:name) || '- -'
        - if user_signed_in? && current_user.admin
          %td= racer.uci_id
          %td= racer.email
          %td
            %a{href: "tel:#{racer.phone_number}"}
              = racer.phone_number
          %td
            = link_to 'Izmijeni', edit_racer_path(racer), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored', style: 'color: white;'
          %td
            = form_for racer, method: :delete do |f|
              = f.submit 'Izbrisi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent', style: 'color: white;'
