%h1
  Natjecatelji
  = "(#{Racer.all.count})"

- if user_signed_in? && current_user.admin?
  = link_to 'Dodaj', new_racer_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'
  %br

.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-js-textfield--accent
  %input#search.mdl-textfield__input{ type: 'text' }
  %label.mdl-textfield__label{ for: 'search' } Pretraži...


:javascript
  new autoComplete({
    selector: '#search',
    minChars: 2,
    source: function(term, suggest){
      const ajax = new Ajax(
        '/racers/search?term=' + term,
        function (data) { suggest(data); },
        function() {}
      );
      ajax.get();
    },
    renderItem: function (item, search){
      search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
      var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
      return '<div class="autocomplete-suggestion" data-val="' + item.full_name + '" data-id="' + item.id + '">' + item.full_name.replace(re, "<b>$1</b>") + '</div>';
    },
    onSelect: function (event, term, item) {
      Turbolinks.visit('/racers/' + item.dataset.id);
    }
  });


.mdl-grid.is-heading
  .mdl-cell.mdl-cell--3-col Ime i Prezime
  .mdl-cell.mdl-cell--2-col Godina rodenja
  .mdl-cell.mdl-cell--2-col Klub
  - if user_signed_in? && current_user.admin
    .mdl-cell.mdl-cell--1-col UCI ID
    .mdl-cell.mdl-cell--1-col Email
    .mdl-cell.mdl-cell--1-col Broj mobitela
    .mdl-cell.mdl-cell--2-col

- @racers.each_with_index do |racer, index|
  .mdl-grid{ class: "#{index.odd? ? 'even' : ''}" }
    .mdl-cell.mdl-cell--3-col
      .emoji= racer.country_flag
      = link_to racer.full_name, racer
    .mdl-cell.mdl-cell--2-col= racer.year_of_birth
    .mdl-cell.mdl-cell--2-col= racer.club_name
    - if user_signed_in? && current_user.admin
      .mdl-cell.mdl-cell--1-col= racer.uci_id
      .mdl-cell.mdl-cell--1-col= racer.email
      .mdl-cell.mdl-cell--1-col
        %a{href: "tel:#{racer.phone_number}"}
          = racer.phone_number
      .mdl-cell.mdl-cell--1-col
        = link_to 'Izmijeni', edit_racer_path(racer), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored', style: 'color: white;'
      .mdl-cell.mdl-cell--1-col
        = form_for racer, method: :delete do |f|
          = f.submit 'Izbrisi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent', style: 'color: white;'

= paginate @racers
