%h1
  .emoji= @racer.country_flag
  %b.uppercase
    = @racer.last_name
  = @racer.first_name

%h4
  %b Klub:
  - if @racer.club.present?
    = link_to club_path(@racer.club) do
      = @racer.club_name
  - else
    Nema

- if user_signed_in?
  %h4
    %b Godina rodenja
    = @racer.year_of_birth
    %br
    %b Mjesto stanovanja
    = @racer.town

    - if current_user&.admin? || current_user&.racer == @racer || @is_race_admin
      %br
      %b Velicina majice
      = @racer.shirt_size || '-'

      %br
      %b UCI ID
      = @racer.uci_id || '-'

      %br
      %b Personal best 21.1km
      = @racer.personal_best || '-'

- if current_user&.admin? || current_user&.racer == @racer || @is_race_admin
  %p
    %b Kontakt:
    %ul
      %li
        = @racer.email
      %li
        %a{href: "tel:#{@racer.phone_number}"}
          = @racer.phone_number
      %li
        Adresa:
        = @racer.address
        = @racer.zip_code
        = @racer.town
        = @racer.country_name

%h4
  Utrke

.mdl-grid.is-heading
  .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone Utrka
  .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone Kategorija
  .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone Mjesto
  .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone Vrijeme

- @racer.race_results.order(id: :desc).each_with_index do |race_result, index|
  .mdl-grid{ class: "#{index.odd? ? 'even' : ''}" }
    %b.mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone= race_result.race.name
    .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone= race_result.category.name
    .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone
      = race_result.try(:position)
      - if race_result.position && race_result.position <= 3 && race_result.status == 3
        = render partial: '/races/trophy', locals: { index: (race_result.try(:position) || 0) - 1 }
    .mdl-cell.mdl-cell--3-col.mdl-cell--2-col-phone= race_result.finish_time


%br
= link_to 'Natrag', racers_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

- if current_user&.admin?
  = link_to 'Izmijeni podatke', edit_racer_path(@racer), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'
