= form_for @race_result do |f|
  - if @race_result.errors.any?
    #error_explanation
      %h2= "#{pluralize(@race_result.errors.count, "error")} prohibited this race_result from being saved:"
      %ul
        - @race_result.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :racer
    = @race_result.racer&.full_name
  .field
    = f.label :race
    = @race_result.race&.name
  .field
    = f.label :status
    = @race_result.pretty_status
  .field
    = f.label :lap_times
    = f.text_area :lap_times, value: @race_result.lap_times.to_json
  .actions
    = f.submit 'Save'
