%p#notice= notice

%h1 Race Admins

%table.wide_table
  %thead
    %tr
      %th Racer
      %th Race
      %th{colspan: 2} Actions
  %tbody
    - @race_admins.each do |race_admin|
      %tr.text-center
        %td= race_admin.racer&.full_name
        %td= race_admin.race&.name
        %td= link_to 'Show', race_admin
        %td= link_to 'Edit', edit_race_admin_path(race_admin)
%br

= link_to 'New Race Admin', new_race_admin_path
