= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :race_id
    = f.text_field :race_id
  .field
    = f.label 'Kategorija'
    = f.select :category, options_for_select(Category.categories.collect { |s| [s[0].humanize, s[0]] }, selected: @category.category), {}
  .actions
    = f.submit 'Save'
