%h1 Kategorije

= link_to 'Dodaj', new_category_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

%br
%br

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Name
      %th Race
      %th Type
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.race&.name
        %td= category.category
        %td= link_to 'Show', category
        %td= link_to 'Edit', edit_category_path(category)
        %td
          = form_for category, method: 'DELETE' do |f|
            .actions
              = f.submit 'Izbrisi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
